.loader-wrapper {
  background: #050115;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 999999999;
}

.loader {
  width: 10em;
  height: 10em;
  border-top: 1em solid #d5fff7;
  border-right: 1em solid transparent;
  -webkit-animation: spinner 0.4s linear infinite;
          animation: spinner 0.4s linear infinite;
  border-radius: 50%;
  margin: auto;
}

.loader-inner {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin-left: 8.5em;
  margin-top: 0.5em;
  background-color: #d5fff7;
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  line-height: 1.42857143;
  background-color: transparent;
  font-family: 'Lato', sans-serif;
  position: relative;
}

a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #232323;
  margin-top: 0px;
  font-style: normal;
  font-weight: 600;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #232323;
  margin-top: 0px;
  font-style: normal;
  font-weight: 600;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #232323;
  margin-top: 0px;
  font-style: normal;
  font-weight: 600;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #232323;
  margin-top: 0px;
  font-style: normal;
  font-weight: 600;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #232323;
  margin-top: 0px;
  font-style: normal;
  font-weight: 600;
}

h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #232323;
  margin-top: 0px;
  font-style: normal;
  font-weight: 600;
}

.title {
  background: rgba(0, 0, 0, 0) url(../img/bg/title-bg.png) repeat-y scroll 0 0;
  line-height: 1;
  padding: 5px 0 5px 15px;
  font-size: 36px;
  font-weight: 700;
}

p {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  color: #aaaaaa;
  margin-bottom: 15px;
}

.menu-navbar .close-navbar, .menu-navbar .social a, .header-area .icon-header a, .contact .contact-form .icon-cont {
  background-color: #eeedfd;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 50px 50px 50px 50px;
  margin-right: 15px;
  padding: 10px;
  margin: 3px 10px 0 10px;
  line-height: 1;
  display: inline-block;
  color: #000000;
  font-size: 20px;
}

.menu-navbar .close-navbar:hover, .menu-navbar .social a:hover, .header-area .icon-header a:hover, .contact .contact-form .icon-cont:hover {
  background: #000000;
  color: #eeedfd;
}

button:focus {
  outline: none;
}

.main-btn-white {
  font-size: 12px;
  color: #000000;
  background-color: transparent;
  border: 2px solid #000000;
  padding: 14px 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  -webkit-transition: background-color .3s ease 0s,color .3s ease 0s,border-radius .3s ease 0s;
  transition: background-color .3s ease 0s,color .3s ease 0s,border-radius .3s ease 0s;
  cursor: pointer;
}

.main-btn-white:hover {
  background-color: #000000;
  color: #fff;
  text-decoration: none;
}

.main-btn-dark {
  font-size: 12px;
  color: #FFF;
  background-color: #000000;
  border: 2px solid #000000;
  padding: 14px 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  -webkit-transition: background-color .3s ease 0s,color .3s ease 0s,border-radius .3s ease 0s;
  transition: background-color .3s ease 0s,color .3s ease 0s,border-radius .3s ease 0s;
  cursor: pointer;
}

.main-btn-dark:hover {
  background-color: #fff;
  color: #000000;
  text-decoration: none;
}

.form-control, .form-control-lg {
  border: 1px solid #e5e5e5;
  color: #000;
  font-size: 14px;
  padding: 11px 19px;
  width: 100%;
}

.form-control:focus, .form-control-lg:focus {
  outline: #000000;
  border: 1px solid #000000;
}

header {
  position: fixed;
  top: 0;
  z-index: 6;
  width: 100%;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

header .navbar-brand {
  width: 30%;
}

@media (max-width: 991px) {
  header .nav {
    display: none;
  }
}

header .nav .link {
  color: #404040;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

header .nav .link:hover, header .nav .link:active {
  color: #000000;
  font-weight: 600;
}

header .nav .link-active {
  color: #000000;
  font-weight: 600;
}

.menu {
  cursor: pointer;
  position: absolute;
  right: -13px;
  top: 33px;
  display: none;
}

@media (max-width: 991px) {
  .menu {
    display: block;
  }
}

.menu span {
  background: #404040 none repeat scroll 0 0;
  display: block;
  height: 2px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-top: 2px;
}

.menu span:first-child {
  width: 20px;
}

.menu span:nth-child(2) {
  width: 16px;
  margin-top: 2px;
  float: right;
}

.menu span:nth-child(3) {
  width: 20px;
  margin-top: 6px;
}

.menu span:last-child {
  width: 12px;
  margin-top: 2px;
  float: right;
}

.on-scrol {
  background: #fff none repeat scroll 0 0;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu-navbar {
  position: fixed;
  right: -3000px;
  top: 0;
  z-index: 8;
  height: 100%;
  width: 300px;
  background-color: #FFF;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  text-align: center;
}

@media (min-width: 991px) {
  .menu-navbar {
    display: none;
  }
}

.menu-navbar .close-navbar {
  border: 0;
  background: none;
  position: absolute;
  left: 3px;
  top: -2px;
}

.menu-navbar .close-navbar:hover {
  border-radius: 25px 50px 25px 50px;
}

.menu-navbar .logo-navbar {
  padding: 30px 0;
}

.menu-navbar ul li .link {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #aaaaaa;
  display: block;
  font-family: "'Montserrat', sans-serif";
  font-size: 14px;
  font-weight: 500;
  padding: 13px 0;
  text-transform: uppercase;
}

.menu-navbar ul li .link:hover {
  color: #000000;
  font-weight: 600;
  border: 1px solid #000000;
  width: 95%;
  margin: auto;
}

.menu-navbar ul li .link-active {
  color: #000000;
  font-weight: 600;
  border: 1px solid #000000;
  width: 95%;
  margin: auto;
}

.menu-navbar .social {
  padding-top: 100px;
}

.menu-navbar .social p {
  font-weight: 500;
  color: #606060;
  font-size: 15px;
}

.show {
  right: 0;
}

.header-area {
  position: relative;
  background-color: #eeedfd;
  width: 100%;
  z-index: 5;
}

.header-area .bg-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

@media (max-width: 767px) {
  .header-area .content {
    text-align: center;
    width: 100%;
  }
}

.header-area .content p {
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 25px;
  margin-bottom: -7px;
}

.header-area .content h2, .header-area .content span, .header-area .content b {
  color: #000000;
  font-size: 50px;
  line-height: 56px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 10px;
}

@media (max-width: 991px) {
  .header-area .content h2, .header-area .content span, .header-area .content b {
    font-size: 24px;
    margin-top: 0px;
  }
}

@media (max-width: 767px) {
  .header-area .content h2, .header-area .content span, .header-area .content b {
    font-size: 31px;
    margin-top: 0px;
  }
}

.header-area .content .main-btn {
  margin-top: 25px;
}

.header-area .icon-header {
  position: absolute;
  bottom: 35px;
}

@media (max-width: 767px) {
  .header-area .icon-header {
    text-align: center;
    width: 95%;
  }
}

.header-area .Profile-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.header-area .Profile-img .img-header {
  width: 85%;
  position: absolute;
  bottom: 0;
}

@media (max-width: 991px) {
  .header-area .Profile-img .img-header {
    width: 95%;
  }
}

@media (max-width: 767px) {
  .header-area .Profile-img .img-header {
    width: 50%;
    display: none;
  }
}

.header-area .Profile-img .img-header img {
  width: 96%;
}

.abute {
  margin-top: 110px;
}

@media (max-width: 767px) {
  .abute {
    text-align: center;
  }
}

.abute .abute-lift .container {
  height: 80%;
}

.abute .abute-lift .container .profile-img {
  background-color: #FFF;
  background: rgba(0, 0, 0, 0) url(../img/bg/profile-bg.png) no-repeat scroll 0 100%;
  margin-right: -30px;
  padding-bottom: 40px;
  padding-left: 40px;
}

.abute .abute-lift .container .profile-img img {
  border: 10px solid #e8e8e8;
  max-width: 100%;
}

.abute .abute-right .container {
  width: 100%;
  padding-top: 35px;
  padding-left: 8%;
}

.abute .abute-right .container .title-abute {
  margin-bottom: 35px;
}

@media (max-width: 767px) {
  .abute .abute-right .container .title-abute {
    width: 75%;
    margin: 30px auto;
  }
}

.abute .abute-right .container p {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  color: #606060;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .abute .abute-right .container .main-btn-dark {
    margin-bottom: 20px;
  }
}

.my-skils {
  margin-top: 100px;
}

.my-skils .title-skils {
  margin-bottom: 40px;
}

.my-skils .progress-item {
  margin-top: 35px;
}

.my-skils .progress-item span {
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.my-skils .progress-item .progress {
  margin-top: 12px;
  height: 6px;
  overflow: initial !important;
}

.my-skils .progress-item .progress .progress-bar {
  background-color: transparent;
  position: relative;
  overflow: initial !important;
}

.my-skils .progress-item .progress .progress-bar .value-label {
  position: absolute;
  right: 0;
  bottom: 20px;
  color: #333;
}

.My-Services {
  margin-top: 100px;
  padding-top: 70px;
}

.My-Services .services {
  margin-top: 70px;
  font-family: Montserrat;
}

.My-Services .services .owl-stage-outer {
  height: 300px;
}

.My-Services .services .service {
  text-align: center;
  padding: 50px 20px 45px;
  -webkit-transition: -webkit-box-shadow 0.3s ease 0s;
  transition: -webkit-box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  cursor: context-menu;
}

.My-Services .services .service:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.My-Services .services .service .icon-service {
  font-size: 36px;
  color: #000000;
  display: block;
  margin-bottom: 27px;
}

.My-Services .services .service h5 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #232323;
  margin-bottom: 10px;
}

.My-Services .services .service p {
  color: #606060;
  margin-bottom: 0;
}

.owl-theme .owl-dots .owl-dot span {
  background: transparent none repeat scroll 0 0;
  border: 0 none;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 12px;
  line-height: 0;
  padding: 5px;
  width: 12px;
  border: 2px solid #aeaeae;
}

.owl-theme .owl-dots .owl-dot span:hover {
  background: transparent;
}

.owl-theme .owl-dots .owl-dot.active span {
  background-color: #000000;
  border: 2px solid #000000;
}

.Projects {
  margin-top: 150px;
}

@media (max-width: 767px) {
  .Projects {
    text-align: center;
  }
}

.Projects .button-group {
  margin-top: 50px;
  margin-bottom: 50px;
}

.Projects .button-group button {
  background: transparent;
  border: none;
  color: #aaaaaa;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 0 15px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .Projects .button-group button {
    padding: 0 5px;
    margin-top: 11px;
  }
}

.Projects .button-group button:hover {
  color: #000000;
}

.Projects .button-group .is-checked {
  color: #000000;
}

.Projects .glarry .element-item {
  margin-bottom: 10px;
  width: 100%;
  padding: 0;
}

.Projects .glarry .element-item .img-project {
  width: 95%;
  height: 100%;
  overflow: hidden;
}

.Projects .glarry .element-item .img-project img {
  width: 98%;
  height: 255px;
  background-size: cover;
}

.Projects .glarry .element-item .img-project .overlay {
  background: rgba(255, 255, 255, 0.85) none repeat scroll 0 0;
  height: calc(100% - 20px);
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: calc(100% - 50px);
  text-align: center;
  opacity: 0;
  visibility: hidden;
}

.Projects .glarry .element-item .img-project .overlay .content .icon {
  background: rgba(0, 0, 0, 0.35) none repeat scroll 0 0;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  height: 52px;
  line-height: 53px;
  margin-bottom: 15px;
  text-align: center;
  width: 52px;
}

.Projects .glarry .element-item .img-project .overlay .content h3 a {
  margin-top: 15px;
  margin-bottom: 8px;
  color: #232323;
  text-decoration: none;
  font-size: 29px;
}

.Projects .glarry .element-item .img-project .overlay .content span {
  color: #858585;
  text-transform: capitalize;
}

.Projects .glarry .element-item .img-project:hover .overlay {
  visibility: initial;
  opacity: 1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.Resume {
  margin-top: 100px;
}

.Resume .title-resume {
  margin-top: 100px;
  margin-bottom: 30px;
}

.Resume .title-resume .title {
  background: none;
  font-size: 35px;
}

.Resume .Education {
  padding-right: 45px;
}

.Resume .Experience .icon-title {
  margin-right: 7px;
  position: relative;
  top: -4px;
}

.Resume .card-resume {
  background: #fff none repeat scroll 0 0;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
  padding: 30px;
  position: relative;
  -webkit-transition: all 0.2s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.Resume .card-resume p {
  font-family: Open Sans;
  color: #606060;
}

.Resume .card-resume p:first-child {
  font-weight: 600;
  line-height: 1;
  margin-bottom: 25px;
  color: #606060;
}

.Resume .card-resume h4 {
  font-weight: 700;
  margin-bottom: 12px;
  font-size: 20px;
}

.Resume .card-resume h5 {
  color: #aaaaaa;
  margin-bottom: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.Resume .card-resume:after {
  background: #000000 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 3px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: calc(100% - 60px);
}

.Resume .card-resume:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.15);
}

.Resume .card-resume:hover h5 {
  color: #000;
}

.Testimonials {
  margin-top: 100px;
}

@media (max-width: 991px) {
  .Testimonials button {
    padding: 0px 5px;
  }
}

.Testimonials .Testimonial {
  width: 80%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 20px;
  text-align: center;
  padding: 30px;
  padding-bottom: 50px;
}

@media (max-width: 767px) {
  .Testimonials .Testimonial {
    padding: 55px 8px;
  }
}

.Testimonials .Testimonial .img-testimoia {
  position: absolute;
  top: -66px;
  left: 10%;
  border: 2px solid #aaaaaa;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  overflow: hidden;
}

@media (max-width: 767px) {
  .Testimonials .Testimonial .img-testimoia {
    left: 33%;
  }
}

.Testimonials .Testimonial .img-testimoia img {
  width: 100%;
  height: 100%;
}

.Testimonials .Testimonial h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 25px;
  line-height: 42px;
}

.Testimonials .Testimonial h6 {
  color: #aaaaaa;
  font-weight: 500;
  margin-bottom: 19px;
  font-size: 16px;
}

.Testimonials .Testimonial p {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  line-height: 25px;
  margin-bottom: 0;
  text-align: left;
  color: #606060;
}

@media (max-width: 767px) {
  .Testimonials .Testimonial p {
    text-align: center;
  }
}

.contact {
  margin-top: 100px;
  padding-top: 80px;
}

.contact .title-contact h3 {
  background: none;
  line-height: 1;
  padding-bottom: 0;
}

.contact .title-contact p {
  margin-bottom: 50px;
}

.contact .contact-form {
  margin-top: 105px;
  padding: 90px 70px 100px 70px;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.contact .contact-form .icon-cont {
  font-size: 25px;
  padding: 10px;
  background: none;
}

@media (max-width: 991px) {
  .contact .contact-form .icon-cont {
    font-size: 25px;
  }
}

@media (max-width: 767px) {
  .contact .contact-form .icon-cont {
    margin-top: 15px;
  }
}

.contact .contact-form .icon-cont:hover {
  background-color: #eeedfd;
  color: #000000;
}

.contact .contact-form h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  margin-top: 15px;
}

@media (max-width: 991px) {
  .contact .contact-form h3 {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .contact .contact-form h3 {
    margin-top: 6px;
  }
}

.contact .form {
  margin-top: 100px;
}

.contact .form .form-group {
  margin-bottom: 3rem;
}

.contact .form .form-group .form-control-lg {
  height: calc(1.5em + 1rem + 12px);
}

.contact .form .form-group .form-control-lg:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact .form .form-group textarea {
  height: calc(1.5em + 14rem + 12px);
}

.contact .form .form-group textarea:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact .form .form-group input[type="submit"] {
  position: absolute;
  right: 12px;
  top: 200px;
}
/*# sourceMappingURL=Homepage.css.map */