// start header
header{
        position: fixed;
        top: 0;
        z-index: 6;
        width: 100%;
        transition: all 0.4s ease 0s;
        .navbar-brand{
            width: 30%;
        }
        .nav{
            @media #{$maxTap} {
                display: none;
            }
                .link{
                    color: $linkColor;
                    text-transform: capitalize;
                    font-weight: 500;
                    font-size: $main-font-size - 2px;
                    cursor: pointer;
                    &:hover , &:active{
                        color: #000000;
                        font-weight: 600;
                    }
                }
                .link-active{
                    color: #000000;
                    font-weight: 600;
                }
            }
        }
        
        .menu{
            cursor: pointer;
            position: absolute;
            right: -13px;
            top: 33px;
            display: none;
            @media #{$maxTap} {
                display: block;
            }
            span{
                background: $linkColor none repeat scroll 0 0;
                display: block;
                height: 2px;
                -webkit-transition: all 0.3s ease 0s;
                transition: all 0.3s ease 0s;
                margin-top: 2px;
                &:first-child{
                    width: 20px;
                }
                &:nth-child(2){
                    width: 16px;
                    margin-top: 2px;
                    float: right;
                }
                &:nth-child(3){
                    width: 20px;
                    margin-top: 6px;
                }
                &:last-child {
                    width: 12px;
                    margin-top: 2px;
                    float: right
                }
            }
            
    }
    .on-scrol{
        background: #fff none repeat scroll 0 0;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
        transition: all 0.4s ease 0s
    }
// end header
// start navbar menu

.menu-navbar{
    position: fixed;
    right: -3000px;
    top: 0;
    z-index: 8;
    height: 100%;
    width: 300px;
    background-color: #FFF;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease 0s;
    text-align: center;
    @media (min-width: 991px) {
        display: none;
    }
    .close-navbar{
            @extend %icon;
            border:0;
            background: none;
            position: absolute;
            left: 3px;
            top: -2px;
            &:hover{
                border-radius: 25px 50px 25px 50px;;
            }
    }
    .logo-navbar{
        padding: 30px 0;
    }
    ul{
        li{
            .link{
                background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
                color: $PColor;
                display: block;
                font-family: $mainFont;
                font-size: $main-font-size - 2px;
                font-weight: 500;
                padding: 13px 0;
                text-transform: uppercase;
                &:hover{
                    color: #000000;
                    font-weight: 600;
                    border: 1px solid #000000;
                    width: 95%;
                    margin: auto;
                }
            }
            .link-active{
                color: #000000;
                font-weight: 600;
                border: 1px solid #000000;
                width: 95%;
                margin: auto;
            }
        }
    }
    .social{
        padding-top: 100px;
        p{
            font-weight: 500;
            color: $icon-color ;
            font-size: $main-font-size - 1px;
        }
        a{
            @extend %icon;
        }
    }
}
.show{
    right: 0;
}
// end navbar menu
// start header area
.header-area{
    position: relative;
    background-color: #eeedfd;
    width: 100%;
    z-index: 5;
    .bg-header{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
    }
    .content{
        @media #{$maxMobile} {
            text-align: center;
            width: 100%;
        }
        p{
            color: $mainColor;
            font-size: $main-font-size + 1px ;
            font-weight: 700;
            letter-spacing: 2px;
            margin-top: 25px;
            margin-bottom: -7px;
        }
        h2,span,b{
            color: $mainColor;
            font-size: $main-font-size + 34px;
            line-height: 56px;
            font-family: 'Montserrat', sans-serif;
            margin-top: 0px;
            font-style: normal;
            font-weight: 600;
            margin-bottom: 10px;
            @media #{$maxTap} {
                font-size: $main-font-size + 8px;
                margin-top:0px;
            }
            @media #{$maxMobile} {
                font-size: $main-font-size + 15px;
                margin-top:0px;
            }
            
        }
        .main-btn{
            margin-top: 25px;
        }
        
    }
    .icon-header{
        position: absolute;
        bottom: 35px;
        a{
            @extend %icon;
        }
        @media #{$maxMobile} {
            text-align: center;
            width: 100%;
        }
    }
    .Profile-img{
        position: absolute;
        bottom: 0;
        right: 0;
        .img-header{
            width: 85%;
            position: absolute;
            bottom: 0;
            @media #{$maxTap} {
                width:95%
            }
            @media #{$maxMobile} {
                width: 50%;
                display: none;
            }
            img{
                width: 96%;
            }
    }
    }
    
};
