$maxMobile : "(max-width: 767px)" ;
$maxTap : "(max-width: 991px)" ;
$mainSmall : "(max-width: 768px)" ;

$mainColor:#000000;
$linkColor:#404040;
$titleColor:#232323;
$PColor:#aaaaaa;
$icon-color:#606060 ;


$main-font-size:16px;


$mainFont :"'Montserrat', sans-serif";